html {
  height: 100%;
}

body {
  height: 100%;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(#615dad, #ffc8da);
}

.container {
  background: #283e50;
  width: 400px;
  margin: 70px auto;
  border-radius: 5px 5px;
}

.img-uvod {
  width: 100%;
}

.nadpis1 {
  font-family: 'Lobster', cursive;
  text-align: center;
  font-size: 50px;
  font-weight: 400;
  margin: 20px 0;
}

.text {
  text-align: center;
  font-size: 18px;
  padding: 0 15px 25px 15px;
  margin: 0 !important;
}

.odkazy {
  margin: 0;
  padding: 0;
}

.odkaz {
  display: inline-block;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.odkaz {
  background: #1fcca4;
  text-align: center;
  width: 100%;
  display: block;
}

.pravidla a {
  display: block;
  padding: 15px;
}

.pravidla a:hover,
.pravidla a:focus {
  background: #1cbb96;
}

.hrat {
  background: #0197f6;
  border-top: solid 1px #283e50;
}

.hrat a {
  display: block;
  padding: 15px;
}

.hrat a:hover,
.hrat a:focus {
  background: #0090e9;
}

/* stránka s pravidly */
.container-pravidla {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}
.jak-hrat {
  display: flex;
  flex-direction: column;
  width: 65%;
  padding: 0 75px;
  margin: 0;
}
.pravidlo {
  padding-top: 15px;
}
.pravidlo:last-of-type {
  padding-bottom: 30px;
}
.xo {
  width: 1em;
  height: 1em;
  filter: invert(100%);
}
.vzor {
  width: 100%;
  margin: 0;
}
.popisek {
  text-align: center;
  font-style: italic;
  padding: 10px 0;
}
.img-pravidla:last-of-type {
  padding-bottom: 30px;
}

.home-page a {
  display: block;
  padding: 15px;
}

.home-page a:hover,
.home-page a:focus {
  background: #1cbb96;
}
