*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  height: 100%;
}

body {
  height: 100%;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(#615dad, #ffc8da);
}

.container {
  background: #283e50;
  width: 400px;
  margin: 70px auto;
  border-radius: 5px 5px;
}

.img-uvod {
  width: 100%;
  border-radius: 5px 5px;
}

.nadpis1 {
  font-family: 'Lobster', cursive;
  text-align: center;
  font-size: 50px;
  font-weight: 400;
  margin: 20px 0;
}

.text {
  text-align: center;
  font-size: 18px;
  padding: 0 15px 25px 15px;
  margin: 0 !important;
}

.odkazy {
  margin: 0;
  padding: 0;
}

.odkaz {
  display: inline-block;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.odkaz {
  background: #1fcca4;
  text-align: center;
  width: 100%;
  display: block;
}

.pravidla a {
  display: block;
  padding: 15px;
}

.pravidla a:hover,
.pravidla a:focus {
  background: #1cbb96;
}

.hrat {
  background: #0197f6;
  border-top: solid 1px #283e50;
}

.hrat a {
  display: block;
  padding: 15px;
}

.hrat a:hover,
.hrat a:focus {
  background: #0090e9;
}

/* pravidla.html */
/* úzká obrazovka */
.container-pravidla {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}
.jak-hrat {
  display: flex;
  flex-direction: column;
  padding: 0 75px;
  margin: 0;
}
.pravidlo {
  padding-top: 15px;
  color: lightgrey;
}
.pravidlo:last-of-type {
  padding-bottom: 30px;
}
.xo {
  width: 1em;
  height: 1em;
  filter: invert(100%);
}
.vzor {
  width: 100%;
  margin: 0;
}
.popisek {
  text-align: center;
  font-style: italic;
  padding: 10px 0;
}
.img-pravidla:last-of-type {
  padding-bottom: 30px;
}

.home-page a {
  display: block;
  padding: 15px;
}

.home-page a:hover,
.home-page a:focus {
  background: #1cbb96;
}

/* široká a velmi široká obrazovka */
@media screen and (min-width: 1400px) {
  .container {
    width: 800px;
  }

  .pravidlo {
    font-size: 20px;
  }
  .images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .img-pravidla {
    width: 45%;
    margin: 10px;
  }
}

/* 3. úkol - hra */

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80vmin;
  margin: 0 auto;
  padding-bottom: 50px;
}
.title {
  font-size: 70px;
}
.taskbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 10px;
}
.info {
  position: relative;
  font-size: 20px;
  margin: 0;
  padding-top: 10px;
}
.player {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2.75px solid white;
  margin: 0;
  margin-left: 5px;
}
.btns-taskbar {
  display: flex;
}
.btn {
  border-radius: 10%;
  border: 0;
  margin: 3px;
  height: 35px;
}
.home {
  background-color: #1fcca4;
}
.home a {
  display: block;
}
.restart a {
  display: block;
}
.restart {
  background-color: #0197f6;
}
.home:hover,
.home:focus {
  background-color: #1cbb96;
}
.restart:hover,
.restart:focus {
  background-color: #0090e9;
}
.playing-field {
  display: flex;
  flex-wrap: wrap;
  opacity: 0.5;
  width: 100%;
}
.playing-field button {
  width: 10%;
  border: 1px solid black;
  margin: 0;
  padding: 0;
}

.playing-field button:hover,
.playing-field button:focus {
  filter: brightness(200%);
}

.playing-field button::before {
  content: '';
  display: block;
  padding-top: 100%;
}
